@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<div class="body-first-page">
	<div class="text-center ">
		<h1 class="display-5 text-white opacity-88">Welcome</h1>
		<p class="text-white opacity-50">Learn about <a style="text-decoration:none; color:white" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div></div>
</body>
