@model Sklep_MVC_Projekt.Models.Customer

@{
    ViewData["Title"] = "EditCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Customer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressFlat" class="control-label"></label>
                <input asp-for="AdressFlat" class="form-control" />
                <span asp-validation-for="AdressFlat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressBuilding" class="control-label"></label>
                <input asp-for="AdressBuilding" class="form-control" />
                <span asp-validation-for="AdressBuilding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressStreet" class="control-label"></label>
                <input asp-for="AdressStreet" class="form-control" />
                <span asp-validation-for="AdressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressCity" class="control-label"></label>
                <input asp-for="AdressCity" class="form-control" />
                <span asp-validation-for="AdressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressCountry" class="control-label"></label>
                <input asp-for="AdressCountry" class="form-control" />
                <span asp-validation-for="AdressCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
